{% csrf_token %}
            
            <div class="mb-3">
                <label for="formFile" class="form-label">Фото профиля</label>
                <input class="form-control" type="file" name="image" id="formFile" value="{{ form.image.value }}">
                <div class="form-text" style="color: red;">{{ form.image.errors }}</div>
            </div>

            <br>

            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя <span style="color: red;">*</span></label>
                <input name="username" type="text" id="username" class="form-control" value="{{ form.username.value }}">
                <div class="form-text" style="color: red;">{{ form.image.errors }}</div>
            </div>
            
            <br>
            
            <label for="exampleInputEmail1" class="form-label">Email <span style="color: red;">*</span></label>
            <div class="input-group mb-3">
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ form.email.value }}">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>
            <div class="form-text" style="color: red;">{{ form.email.errors }}</div>

            <br>

            <label for="telInput" class="form-label">Номер телефона <span style="color: red;">*</span></label>
            <div class="input-group mb-3">
                <input type="tel" class="form-control" name="phone" id="telInput" aria-describedby="emailHelp" value="{{ form.phone.value }}">
                <span class="input-group-text" id="basic-addon2">+7...</span>
            </div>