{% csrf_token %}
<div class="mb-3">
    <label for="password_old" class="form-label">Старый пароль <span style="color: red;">*</span></label>
    <input type="password" name="password_old" class="form-control" id="password_old">
    <div class="invalid-feedback">
        {{ password_form.password_old.errors }}
    </div>
</div>

<br>

<div class="mb-3">
    <label for="password" class="form-label">Пароль <span style="color: red;">*</span></label>
    <input type="password" name="password" class="form-control" id="password">
    <div class="invalid-feedback">
        {{ password_form.password.errors }}
    </div>
</div>

<br>

<div class="mb-3">
    <label for="password_confirm" class="form-label">Повторите пароль <span style="color: red;">*</span></label>
    <input type="password" name="password_confirm" class="form-control" id="password_confirm">
    <div class="invalid-feedback">
        {{ password_form.password_confirm.errors }}
    </div>
</div>