{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <br>
    <div>
        <div style="border-radius: 40px" class="card border-secondary p-3 m-auto w-75">
            <div class="d-flex align-items-center">
                <div>
                    {% if summary.user.image %}
                        <img style="width: 280px; border-radius: 40px; border: 2px solid #8b8b8b;" src="{{ summary.user.image.url }}" class="card-img" alt="...">
                    {% else %}
                        <img style="width: 280px; border-radius: 40px; border: 2px solid #8b8b8b;" src="{% static 'img/user.png' %}" class="card-img" alt="...">
                    {% endif %}
                </div>
                <div class="ms-5">
                    <a href="{% url 'user_detail' summary.user.pk %}"><h1 class="card-text">{{ summary.user.username }}</h1></a>
                    <hr style="margin: 10px 0 !important;">
                    <div class="mt-0">
                        <h6 class="text-muted fs-4">Контактые данные</h6>
                        <div class="fs-6">
                            <p class="card-text m-0">{{ summary.phone_number }}</p>
                            <p class="card-text">{{ summary.email }}</p>
                        </div>
                    </div>
                    <hr style="margin: 10px 0 !important;">
                    <h6 class="text-muted mt-0">Возможные способы связи</h6>
                    <div class="d-flex">
                        <p class="card-text"><a style="text-decoration: none" href="{{ summary.telegram }}"><img
                                style="width: 25px; background: none" src="{% static "img/telegram.png" %}"
                                alt="..."></a>
                        </p>
                        {% if summary.facebook %}
                            <p class="card-text ps-2"><a style="text-decoration: none"
                                                         href="{{ summary.facebook }}"><img
                                    style="width: 22px;" src="{% static "img/facebook.png" %}" alt="..."></a>
                            </p>
                        {% endif %}
                        {% if summary.linkedin %}
                            <p class="card-text ps-2"><a style="text-decoration: none"
                                                         href="{{ summary.linkedin }}"><img
                                    style="width: 22px;" src="{% static "img/linkdein.png" %}" alt="..."></a>
                            </p>
                        {% endif %}
                    </div>
                    <div>
                        {% if request.user == summary.user %}
    
                                <a type="button" href="#" class="btn btn-secondary btn-sm">Обновить</a>
                                <a type="button" href="#" class="btn btn-secondary btn-sm">Редактировать</a>
    
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="d-block w-50">
                        <h4>Желаемая должность</h4>
                        <h6 class="mb-5">{{ summary.summary_position }}</h6>
                        <h4>Желаемая зароботная плата</h4>
                        <p class="card-text">{{ summary.salary|intcomma }} &#8376;</p>
                    </div>
                    <div>
                        <h4>Категория вакансии</h4>
                        {% if summary.category == 'Information technology' %}
                            Информационные технологии
                        {% elif summary.category == 'Medicine' %}
                            Медецина
                        {% elif summary.category == 'Marketing' %}
                            Маркетинг
                        {% elif summary.category == 'Sales' %}
                            Продажи
                        {% elif summary.category == 'Production' %}
                            Производство
                        {% elif summary.category == 'Insurance' %}
                            Страхование
                        {% endif %}
                    </div>
                </div>
                <hr>
                {% if summary.work_experience %}
                    {% include 'partials/work_experience/work_experience_form.html' with work_experiences=summary.work_experience.all %}
                {% endif %}
                {% if summary.education %}
                    {% include 'partials/education/education_form.html' with educations=summary.education.all %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}