{% extends 'base.html' %}
{% load static %}


{% block title %}Пользователь {{ user.username }}{% endblock title %}


{% block content %}
    
    <br>
    
    <div>
        <div class="w-75">
            <div class="d-flex align-items-center">
                <div>
                    {% if user.image %}
                        <img style="width: 200px; height: 200px" src="{{ user.image.url }}" class="card-img"
                             alt="...">
                    {% else %}
                        <img style="width: 200px; height: 200px" src="{% static 'img/user.png' %}" class="card-img"
                             alt="...">
                    {% endif %}
                </div>
                <div class="ms-5">
                    <h1 class="card-text">{{ user.username }} {% if user.is_company %}(Работадатель){% else %}(Соискатель){% endif %}</h1>
                    <div class="mt-3">
                        <h6 class="text-muted fs-4">Контактые данные</h6>
                        <div class="fs-6">
                            <p class="card-text m-0">{{ user.phone }}</p>
                            <p class="card-text">{{ user.email }}</p>
                            <a href="#" class="btn btn-secondary btn-sm">Редактировать профиль</a>
                            <a href="#" class="btn btn-secondary btn-sm">Сменить пароль</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% if summaries %}
        {% include 'partials/summary/list_summary.html' with title_text="Ваши резюме" %}
    {% endif %}
    <div class="paginate mt-5">
        {% if is_paginated %}
                {% include 'common/pagination.html' %}
        {% endif %}
    </div>
    
{% endblock %}