{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {% if request.user.is_authenticated %}
        
            <a class="navbar-brand" href="{% url 'user_detail' %}">HeadHunter</a>
        
        {% else %}

            <a class="navbar-brand" href="{% url 'login' %}">HeadHunter</a>

        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: block !important">
            <div class="navbar-nav">
                {% if request.user.is_authenticated %}

                    <div class="d-flex justify-content-between w-100">
                        <div class="d-flex align-items-center">
                            {% if request.user.is_company %}
                            
                                <a class="nav-link" href="{% url 'create_vacancy' %}">Создать вакансию</a>
                                <a class="nav-link" href="{% url 'list_summary' %}">Список резюме</a>

                            {% else %}

                                <a class="nav-link" href="{% url 'create_summary' %}">Создать резюме</a>

                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center">
                            <a class="nav-link" href="{% url 'user_detail' %}"><img src="{% static 'img/user_icon.png' %}" alt="" style="filter: invert(1); width: 40px;"></a>
                            <a class="btn btn-outline-light btn-sm" id="logoutBtn" href="{% url 'logout' %}">Выйти</a>
                        </div>
                    </div>

                {% else %}
                    
                    <a class="nav-link" aria-current="page" href="{% url 'login' %}">Войти</a>
                    <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                    
                {% endif %}
            </div>
        </div>
    </div>
</nav>