{% load humanize %}
<div class="d-flex justify-content-between">
    <div class="w-100">
        {% for vacancy in vacancies %}
            <a style="text-decoration: none; color: black" href="{% url 'detail_vacancy' vacancy.pk %}">
                <div class="col mt-4">
                    <div class="card border-secondary" style="border-radius: 20px">
                        <div class="card-body">
                            <h5 class="card-title">{{ vacancy.vacancy_position }}</h5>
                            <p class="card-text">{{ vacancy.updated_at }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>