{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <br>
    <div>
        <div style="border-radius: 40px" class="card border-secondary p-3 m-auto w-75">
            <div class="d-flex align-items-center">
                <div>
                    {% if vacancy.user.image %}
                        <img style="width: 200px; border-radius: 40px; border: 2px solid #8b8b8b;"
                             src="{{ vacancy.user.image.url }}" class="card-img" alt="...">
                    {% else %}
                        <img style="width: 200px; border-radius: 40px; border: 2px solid #8b8b8b;"
                             src="{% static 'img/user.png' %}" class="card-img" alt="...">
                    {% endif %}
                </div>
                <div class="ms-5">
                    <div class="d-flex">
                        <a href="{% url 'user_detail' vacancy.user.pk %}"><h1
                                class="card-text">{{ vacancy.user.username }}</h1></a>
                        <div class="d-flex mt-3 ms-5">
                            <p>Последнее обновление</p>
                            <p id="update_date" class="ms-2">{{ vacancy.updated_at|date:'d.m.Y, G:i' }}</p>
                        </div>
                    </div>
                    <hr style="margin: 10px 0 !important;">
                    <div class="mt-0">
                        <h6 class="text-muted fs-4">Контактые данные</h6>
                        <div class="fs-6">
                            <p class="card-text m-0">{{ vacancy.user.phone }}</p>
                            <p class="card-text">{{ vacancy.user.email }}</p>
                        </div>
                    </div>
                    <hr style="margin: 10px 0 !important;">
                    <div>
                        <a type="button" href="#" class="btn btn-secondary btn-sm">Отклинуться</a>
                        {% if request.user == vacancy.user %}

                            <a data-vacancy-id="{{ vacancy.pk }}" data-position="{{ vacancy.vacancy_position }}"
                               id="button_update" type="button" class="btn btn-secondary btn-sm">Обновить</a>
                            <a type="button" href="{% url 'update_vacancy' vacancy.pk %}"
                               class="btn btn-secondary btn-sm">Редактировать</a>

                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="w-50 mb-4">
                        <h4>Должность</h4>
                        <h6>{{ vacancy.vacancy_position }}</h6>
                    </div>
                    <div class="w-50 mb-4">
                        <h4>Требуемый опыт работы</h4>
                        <div class="d-flex">
                            <p>от {{ vacancy.work_experience_from }} д</p>
                            {% if vacancy.work_experience_to == 1 %}
                                <p>о {{ vacancy.work_experience_to }} года</p>
                            {% else %}
                                <p>о {{ vacancy.work_experience_to }} лет</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-50 mb-4">
                        <h4>Категория вакансии</h4>
                        {% if vacancy.category == 'Information technology' %}
                            Информационные технологии
                        {% elif vacancy.category == 'Medicine' %}
                            Медецина
                        {% elif vacancy.category == 'Marketing' %}
                            Маркетинг
                        {% elif vacancy.category == 'Sales' %}
                            Продажи
                        {% elif vacancy.category == 'Production' %}
                            Производство
                        {% elif vacancy.category == 'Insurance' %}
                            Страхование
                        {% endif %}
                    </div>
                    <div class="w-50 mb-4">
                        <h4>Зароботная плата</h4>
                        <p class="card-text">{{ vacancy.salary|intcomma }} &#8376; на руки</p>
                    </div>
                    <div class="w-50">
                        <h5>Обязанности</h5>
                        {{ vacancy.description|linebreaksbr }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/update_vacancy.js' %}"></script>
{% endblock %}
