<div id="education_div" class="w-50 d-none">
    <hr style="margin: 20px 0">
    <h3>{{ title_text|default:'Добавить образование' }}</h3>
    <br>
    <form id="education_form" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="educational_center" class="form-label">Образовательный центр</label> <span style="color: brown">*</span>
            <input name="educational_center" type="text"
                   id="educational_center" class="form-control"/>
            <div class="form-text text-danger education-text"></div>
        </div>
        <div class="mb-3">
            <label for="speciality" class="form-label">Специальность</label> <span style="color: brown">*</span>
            <input name="speciality" type="text"
                   id="speciality" class="form-control"/>
            <div class="form-text text-danger education-text"></div>
        </div>
        <div class="mb-3">
            <label for="start_education" class="form-label">Дата начала</label> <span style="color: brown">*</span>
            <input name="start_education" type="date"
                   id="start_education" class="form-control"/>
            <div class="form-text text-danger education-text"></div>
        </div>
        <div class="mb-3">
            <label for="finish_education" class="form-label">Дата окончания</label>
            <input name="finish_education" type="date"
                   id="finish_education" class="form-control"/>
            <div class="form-text text-danger education-text"></div>
        </div>
        <button class="btn btn-secondary" type="submit">{{ btn_text|default:'Добавить' }}</button>
    </form>
</div>