<div class="d-flex justify-content-between">
    <div class="w-100">
        {% for summary in summaries %}
            <a href="{% url 'detail_summary' summary.pk %}" style="text-decoration: none; color: black;" class="d-block summary-link">
                <div class="col mt-4">
                    <div class="card border-secondary p-1" style="border-radius: 20px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ summary.summary_position }}</h5>
                            <p class="card-text">{{ summary.updated_at }}</p>
                        </div>
                    </div>
                </div>
            </a>    
        {% endfor %}
    </div>
</div>
