<h1 style="text-align: center">{{ title_text }}</h1>
<div>
    {% for summary in summaries %}
        <div class="col mt-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ summary.summary_position }}</h5>
                    <p class="card-text">{{ summary.updated_at }}</p>
                    <a class="btn btn-secondary" href="#">Обновить</a>
                    <a class="btn btn-secondary" href="#">Редактировать</a>
                    {% if request.user == summary.user %}
                        <a class="btn btn-secondary" href="{% url 'detail_summary' summary.pk %}">Просмотр</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
